<ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <%= link_to 'Movimientos', @apertura_caja %>
    </li>
    <% if controller.action_name == 'new' or @apertura_caja.cierre.nil? == false%>
        <li role="presentation">
          <a href="/" class="btn disabled">Movimiento de Caja</a>
        </li>
        <li role="presentation">
          <a href="/" class="btn disabled">Boleta de Deposito</a>
        </li>        
    <% else %>
        <li role="presentation">
          <%= link_to 'Nuevo Movimiento', new_apertura_caja_movimiento_caja_path(@apertura_caja) %>
        </li>
        <li role="presentation">
          <%= link_to 'Nueva Boleta', new_apertura_caja_boleta_deposito_path(@apertura_caja) %>
        </li>       
    <% end %>
</ul>
