<div class="container white">
    <%= form_for(@apertura_caja) do |f| %>
    	<% AperturaCaja.update(@apertura_caja.id, :cierre => Time.now) %>
    	<% Caja.update(@apertura_caja.caja_id, :estado => 'Cerrado', :saldo_inicial_efectivo => @apertura_caja.saldo_final_efectivo, :saldo_inicial_cheque => @apertura_caja.saldo_final_cheque)%>
    <%end%>
    <% controller.redirect_to new_apertura_caja_path %>
</div>
