<div class="container white">
  <%= render 'solapa' %>   
    <h1> Movimientos de Caja 
      <%= link_to new_apertura_caja_movimiento_caja_path, class: 'btn btn-primary', title: 'Nuevo Movimiento', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "glyphicon glyphicon-plus"></span>
      <% end %>
    </h1>
  
  <br>
</div>
