<div class="container white">
  <h1>Cajas</h1>
    <br>
    <%= render 'table' %>
    <br>
    <% if can? :create, Caja and  can? :read, Caja %>
    	<%= form_for(@caja) do |f| %>
      		<%= f.submit "Nueva caja", :class => 'btn btn-primary margen', data: { confirm: 'Desea crear una nueva caja?' }%>
      	<% end %>
    <% end %>
</div>

