<div class="col-sm-12 col-md-12">
  <table id="table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nro de Tarjeta</th>
        <th>Nro de Cuenta</th>
        <th>Encargado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @credits.each do |credit| %>
        <tr>
          <td><%= credit.nro_tarjeta %></td>
          <td><%= credit.cuentum.nro_cuenta %></td>
          <% personal = credit.personal%>
        
          <td class="row">
                  <%= link_to edit_cuentum_credit_path(credit.cuentum, credit), class: 'btn btn-default', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-pencil"></span>
                  <% end %>

                  <%= link_to [credit.cuentum, credit], method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-default', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-trash"></span>
                  <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
