<div class="container white">
  <%= render 'solapa' %>   
  	<h1> Tarjetas 
  		<%= link_to new_cuentum_credit_path, class: 'btn btn-primary', title: 'Nueva Tarjeta', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
    		<span class= "glyphicon glyphicon-plus"></span>
    	<% end %>
  	</h1>
  
  <br>
  <%= render 'table' %> 
   
</div>

