<p id="notice"><%= notice %></p>

<p>
  <strong>Nro tarjeta:</strong>
  <%= @credit.nro_tarjeta %>
</p>

<p>
  <strong>Cuentum:</strong>
  <%= @credit.cuentum %>
</p>

<p>
  <strong>Personal:</strong>
  <%= @credit.personal %>
</p>

