<ul class="nav nav-tabs">
  	<li role="presentation" >
        <%= link_to 'Movimientos', @apertura_caja %>
    </li>
    <li role="presentation">
    		<%= link_to 'Nuevo Movimiento', new_apertura_caja_movimiento_caja_path(@apertura_caja) %>
    </li>
  	<li role="presentation" class="active">
  			<%= link_to 'Nueva Boleta', new_apertura_caja_boleta_deposito_path(@apertura_caja) %>
  	</li>       
</ul>