<div class="container white">
  <%= render 'solapa' %>   
    <h1> Boletas de Deposito 
      <%= link_to new_apertura_caja_boleta_deposito_path, class: 'btn btn-primary', title: 'Nuevo Deposito', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
        <span class= "glyphicon glyphicon-plus"></span>
      <% end %>
    </h1>
  
  <br>
  <%= render 'table' %> 
</div>
