<% if MotivoMovimientoCaja.last == motivo_movimiento_caja %>
	<option value= <%= motivo_movimiento_caja.id %> selected="selected"><%= motivo_movimiento_caja.descripcion %></option>
<% else %>
	<option value= <%= motivo_movimiento_caja.id %>><%= motivo_movimiento_caja.descripcion %></option>
<% end %>