<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @motivo_movimiento_caja.descripcion %>
</p>

<%= link_to 'Edit', edit_motivo_movimiento_caja_path(@motivo_movimiento_caja) %> |
<%= link_to 'Back', motivo_movimiento_cajas_path %>
