<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @motivo_movimiento.descripcion %>
</p>

<%= link_to 'Edit', edit_motivo_movimiento_path(@motivo_movimiento) %> |
<%= link_to 'Back', motivo_movimientos_path %>
