<div class="container white">
<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @motivo_movimiento_banco.descripcion %>
</p>

<%= link_to 'Editar', edit_motivo_movimiento_banco_path(@motivo_movimiento_banco) %> |
<%= link_to 'Atras', motivo_movimiento_bancos_path %>
